<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Home</title>

<style type="text/css">
	li{
		margin-top: 15px;
		font-size: 40px;
	}
</style>


</head>

<body>

<div style="margin-left: 35%;padding-top:20px;">
  <h1 style="font-size: 60px">Popular Google Products</h1>
  <div>
  	<ol>
  		<li>An Internet search engine</li>
  		<li>Web email</li>
  		<li>Calendar software</li>
  		<li>A web browser</li>
  		<li>A home video monitoring system</li>
  		<li>Laptop computers</li>
  		<li>Desktop computers</li>
  		<li>A map of the world</li>
  		<li>An online software store</li>
  	</ol>
  </div>
</div>

</body>

</html>